@model User
<h1>Login</h1>
<a href="/">Register</a>
<form asp-action="Login" asp-controller="Home" method="post">
    <label asp-for="Email"></label>
    <input asp-for="Email">
    <span asp-validation-for="Email"></span>
    <br>
    <label asp-for="Password"></label>
    <input asp-for="Password">
    <span asp-validation-for="Password"></span>
    <br>
    <input type="submit" value="Login">
</form>